@charset "UTF-8";
/* SASS Document */

/*=============================================== Imports ===============================================*/

@import "mixins";
@import "reset";
@import "variables";

/*=============================================== General ===============================================*/

* {
    outline: none;
}

body {
    @include flexbox(center, center, nowrap);
    width: 100vw;
    height: 100vh;
    font-family: "Press Start 2P", cursive;

    canvas {
        background-color: #70c5ce;
    }
}

/*=============================================== Components ===============================================*/

/*=============================================== Pages ===============================================*/

/*=============================================== Helpers ===============================================*/

@import "helpers";
