@charset "UTF-8";
/* SASS Document */

/*=============================================== Imports ===============================================*/

@import "mixins";
@import "reset";
@import "variables";

/*=============================================== General ===============================================*/

* {
    outline: none;
}

body {
    @include flexbox(center, center, nowrap);
    width: 100vw;
    height: 100vh;

    canvas {
        background-color: lightgray
    } 
}

/*=============================================== Components ===============================================*/

/*=============================================== Pages ===============================================*/

/*=============================================== Helpers ===============================================*/

@import "helpers";
